body {
	background: black;
	font-family: "Comic Sans MS", cursive, serif;
}
/*
* {
	border: 1px dashed red;
	min-height: 10px;
}*/
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

/*Estilos Cabecera*/
.postcard-header {
	display: flex;
	padding: 2%;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin-block: auto;
	width: 350px;
	height: 50px;
}

/*Estilos del Cuerpo*/
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
.body-left {
	font-size: medium;
	text-align: justify;
	line-height: 1;
	letter-spacing: -1px;
}

.body-left,
.body-right {
	padding: 2%;
}

input {
	border: none;
	border-bottom: 2px solid DarkGray;
}

/* Pie de pagina*/
.postcard-footer {
	text-align: center;
}
button {
	background-color: DarkGray;
	padding: 5px;
}
